{% extends "layout.html" %}
{% block title %}Configuration{% endblock %}
{% block navbar %}
<a class="navbar-brand" href="#">SNMP Project</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/">Accueil</span></a>
    <a class="nav-item nav-link active" href="config.html">Configuration <span class="sr-only">(current)</a>
    <a class="nav-item nav-link" href="#">Surveillance</a>
  </div>
</div>
{% endblock %}

{% block body %}
<h1>Création des machines</h1>
        <input class="col-sm-2 btn btn-outline-success btn-block"type="submit" value="Ajouter une machines">
{% endblock %}
